<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectMacro"
        tools:targetApi="31">
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".Tearm"
            android:exported="false" />
        <activity
            android:name=".Sumarry"
            android:exported="false" />
        <activity
            android:name=".Language"
            android:exported="false" />
        <activity
            android:name=".ConsulPayment"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".ArticelActivity"
            android:exported="false" />
        <activity
            android:name=".ViewArtikel"
            android:exported="false" />
        <activity
            android:name=".ViewClass"
            android:exported="false" />
        <activity
            android:name=".ratingActivity"
            android:exported="false" />
        <activity
            android:name=".MassageSessionActivity"
            android:exported="false" />
        <activity
            android:name=".notificationActivity"
            android:exported="false" />
        <activity
            android:name=".konsultasiActivity"
            android:exported="false" />
        <activity
            android:name=".ParentingClass"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="false"
            android:label="@string/title_activity_homepage" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".Massage"
            android:exported="false" />
        <activity
            android:name=".signin"
            android:exported="false" />
        <activity
            android:name=".GetStarted"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>